In [1]:
import pandas as pd

## Reading data

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df.head()

        fever  bodyPain  age  runnyNose  diffBreath  infectionProb
0   98.332734         0   36          1          -1              0
1  101.488868         1   88          0           0              1
2   98.295029         1   71          1          -1              1
3   99.440096         1   80          0           1              0
4   98.917922         1    6          1           1              0

In [4]:
df.tail()

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
2570  100.426833         1   58          1           0              1
2571   99.970904         1   63          0           0              0
2572   98.072294         0   38          1          -1              1
2573   98.503010         1   55          0           1              1
2574   98.689390         0   83          0           0              1

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2575 entries, 0 to 2574
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   fever          2575 non-null   float64
 1   bodyPain       2575 non-null   int64
 2   age            2575 non-null   int64
 3   runnyNose      2575 non-null   int64
 4   diffBreath     2575 non-null   int64
 5   infectionProb  2575 non-null   int64
dtypes: float64(1), int64(5)
memory usage: 120.8 KB

In [6]:
df['diffBreath'].value_counts()

 0    885
-1    853
 1    837
Name: diffBreath, dtype: int64

## Train Test Splitting

In [7]:
import numpy as np

In [8]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled = np.random.permutation(len(data))
    test_set_sizes = int(len(data)*ratio)
    test_indices = shuffled[:test_set_sizes]
    train_indices = shuffled[test_set_sizes:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [9]:
train,test = data_split(df,0.2)

In [10]:
train

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1703  100.388567         0   41          1           0              0
1675  101.336653         1   20          0          -1              0
1518   99.928020         1   45          1          -1              0
361    98.443597         0    1          1          -1              1
1544  100.205567         0   21          0           0              1
...          ...       ...  ...        ...         ...            ...
1638   98.512446         0   85          1           1              0
1095  101.781375         0    2          0          -1              1
1130   98.246650         1   14          1           0              1
1294   99.822245         1   63          1           0              1
860   101.343275         0    9          1           1              1

[2060 rows x 6 columns]

In [11]:
test

           fever  bodyPain  age  runnyNose  diffBreath  infectionProb
1644   99.902364         1   26          1           0              0
1189   98.936990         0    9          0          -1              1
495    98.746561         1   62          1           0              1
1656  100.807170         0   24          1           1              1
651   101.080045         0   80          0           0              0
...          ...       ...  ...        ...         ...            ...
1627  100.723407         1   62          1          -1              1
471    99.101795         1   53          0           0              1
700    98.900111         0   79          0           0              0
25     99.767231         1   98          0           0              1
755    99.305254         0   10          1          -1              0

[515 rows x 6 columns]

In [12]:
X_train = train[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()
X_test = test[['fever','bodyPain','age','runnyNose','diffBreath']].to_numpy()

In [13]:
Y_train = train[['infectionProb']].to_numpy().reshape(2060,)
Y_test = test[['infectionProb']].to_numpy().reshape(515,)

In [14]:
Y_train

array([0, 0, 0, ..., 1, 1, 1], dtype=int64)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clf = LogisticRegression()

In [17]:
clf.fit(X_train,Y_train)

LogisticRegression()

In [18]:
inputFeatures = [100,1,22,-1,1]
infProb =clf.predict_proba([inputFeatures])[0][1]
infProb

0.5405437044559758